# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

bin/
*.lib

*.exp

*.dll

*.dbg

*.obj

*.jar

com.ibm.collaboration.realtime.tts/os/win32/common/eci.h

*.map

*.pdb
